{% extends "layout.html" %}

{% block body %}

  <br><br>
  <div class="ui fluid container">
    <div class="ui stackable grid">
      <div class="column"></div>
      <div class="three wide column">
        <div class="ui fluid vertical pointing menu">
          <div class="item">
            <div class="header">
              <i class="file alternate outline icon"></i>
              Documents
            </div>
            <div class="menu">
              <a href="/admin/documents" class="item {% if path == '/admin/documents' %} active {% endif %}">
                <i class="bars icon"></i>
                List
              </a>
              <a href="/admin/documents/new" class="item {% if path == '/admin/documents/new' %} active {% endif %}">
                <i class="plus icon"></i>
                New
              </a>
            </div>
          </div>
          <div class="item">
            <div class="header">
              <i class="users icon"></i>
              Users
            </div>
            <div class="menu">
              <a href="/admin/users" class="item {% if path == '/admin/users' %} active {% endif %}">
                <i class="bars icon"></i>
                List
              </a>
              <a href="/admin/users/new" class="item {% if path == '/admin/users/new' %} active {% endif %}">
                <i class="plus icon"></i>
                New
              </a>
            </div>
          </div>
          <div class="item">
            <div class="header">
              <i class="copy outline icon"></i>
              Loans
            </div>
            <div class="menu">
              <a href="/admin/loans" class="item {% if path == '/admin/loans' %} active {% endif %}">
                <i class="bars icon"></i>
                List
              </a>
              <a href="/admin/loans/requested"
                 class="teal item {% if path == '/admin/loans/requested' %} active {% endif %}">
                <i class="question outline icon"></i>
                Requests
                {% if get_all_requested_loan_count() > 0 %}
                  <div class="ui teal label">
                    {{ get_all_requested_loan_count() }}
                  </div>
                {% endif %}
              </a>
              <a href="/admin/loans/overdue"
                 class="red item {% if path == '/admin/loans/overdue' %} active {% endif %}">
                <i class="exclamation icon"></i>
                Overdue
                {% if get_all_overdue_loan_count() > 0 %}
                  <div class="ui red label">
                    {{ get_all_overdue_loan_count() }}
                  </div>
                {% endif %}
              </a>
              <a href="/admin/loans/returned" class="item {% if path == '/admin/loans/returned' %} active {% endif %}">
                <i class="undo icon"></i>
                Returned
                {% if get_all_returned_loan_count() > 0 %}
                  <div class="ui label">
                    {{ get_all_returned_loan_count() }}
                  </div>
                {% endif %}
              </a>
            </div>
          </div>
          {% include "menu-footer.html" %}
        </div>
      </div>
      <div class="eleven wide column transition fade in">
        {% block admin_body %} {% endblock %}
      </div>
    </div>
  </div>

  <style>
    body {
      background: #f8f8f8;
    }
  </style>

{% endblock %}
