{% extends "layout.html" %}

{% block body %}

  <br><br>
  <div class="ui container">
    <div class="ui stackable grid">
      <div class="four wide column">
        <div class="ui fluid vertical pointing secondary menu">
          <div class="item">
            <div class="header">
              Documents
            </div>
            <div class="menu">
              <a href="/admin/documents" class="item {% if path == '/admin/documents' %} active {% endif %}">
                List
              </a>
              <a href="/admin/documents/new" class="item {% if path == '/admin/documents/new' %} active {% endif %}">
                New
              </a>
            </div>
          </div>
          <div class="item">
            <div class="header">
              Users
            </div>
            <div class="menu">
              <a href="/admin/users" class="item {% if path == '/admin/users' %} active {% endif %}">
                List
              </a>
            </div>
          </div>
          <div class="item">
            <div class="header">
              {{ session.login }}
            </div>
            <div class="menu">
              <div class="item">
                {{ session.role }}
              </div>
              <a href="/logout" class="item">
                Logout
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="twelve wide column">
        {% block admin_body %} {% endblock %}
      </div>
    </div>
  </div>

{% endblock %}
