{% extends "admin/layout.html" %}

{% block admin_body %}

  <h4>Edit user</h4>
  <form class="ui segment form" action="#" method="POST">
    <div class="three fields">
      <div class="field">
        <label>Login</label>
        <input type="text" name="login" placeholder="root" value="{{ user.login }}">
      </div>
      <div class="field">
        <label>Password (leave blank to leave unchanged)</label>
        <input type="password" name="password" placeholder="secretpassword123">
      </div>
      <div class="field">
        <label>Role</label>
        {% include "admin/users/role-dropdown.html" %}
      </div>
    </div>
    <div class="three fields">
      <div class="field">
        <label>Name</label>
        <input type="text" name="name" placeholder="Root Rootovich" value="{{ user.name }}">
      </div>
      <div class="field">
        <label>Phone number</label>
        <input type="text" name="phone" placeholder="+1-800-I-AM-ROOT" value="{{ user.phone }}">
      </div>
      <div class="field">
        <label>Card number</label>
        <input type="number" name="card_number" placeholder="12345" value="{{ user.card_number }}">
      </div>
    </div>
    <div class="field">
      <label>Address</label>
      <input type="text" name="address" placeholder="Pushkina Street, 84-49" value="{{ user.address }}">
    </div>
    <button type="submit" class="ui fluid blue button">
      <i class="paper plane icon"></i>
      Submit
    </button>
  </form>

  <script>
      $('.ui.dropdown').dropdown();
  </script>

{% endblock %}