.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### hexaongal ignore ###
server/hexagonal/config/*
!server/hexagonal/config/test.py
postgres_data
docs
