{% extends "layout.html" %}

{% block body %}
  <form class="ui form" action="#" method="POST">
    {% if request.args.error %}
      <div class="ui red message">
        {{ request.args.error }}
      </div>
    {% endif %}
    <div class="field">
      <label>New password</label>
      <input type="password" name="password" placeholder="Password">
    </div>
    <div class="field">
      <label>Confirm (same password)</label>
      <input type="password" name="confirm" placeholder="Confirm">
    </div>
    <button type="submit" class="ui blue button">
      Submit
    </button>
  </form>
{% endblock %}