{% extends "admin/layout.html" %}

{% block admin_body %}
  <h4>Edit document</h4>
  <div id="new-form" class="ui segment">
    {% if document.type == 'book' %}
      <form class="ui form" action="#" method="POST">
        <input type="hidden" name="type" value="book"/>
        {% include "admin/documents/edit-common.html" %}
        <div class="fields">
          <div class="four wide field">
            <label>Edition</label>
            <input type="number" name="edition" placeholder="3" value="{{ document.edition }}"/>
          </div>
          <div class="five wide field">
            <label>Publisher</label>
            <input type="text" name="publisher" placeholder="MIT Press" value="{{ document.publisher }}"/>
          </div>
          <div class="three wide field">
            <label>Year</label>
            <input type="number" name="publishment_year" placeholder="2009" value="{{ document.publishment_year }}">
          </div>
          <div class="two wide field">
            <label>Bestseller</label>
            {% with name='bestseller' %}
              {% include "components/toggle-button.html" %}
            {% endwith %}
          </div>
          <div class="two wide field">
            <label class="hex-popup" title="Whether this book is a reference book">Reference</label>
            {% with name='reference' %}
              {% include "components/toggle-button.html" %}
            {% endwith %}
          </div>
        </div>
        <button type="submit" class="ui fluid blue button">
          <i class="paper plane icon"></i>
          Submit
        </button>
      </form>
    {% endif %}
    {% if document.type == 'av_material' %}
      <form class="ui form" action="#" method="POST">
        <input type="hidden" name="type" value="book"/>
        {% include "admin/documents/edit-common.html" %}
        <button type="submit" class="ui fluid blue button">
          <i class="paper plane icon"></i>
          Submit
        </button>
      </form>
    {% endif %}
    {% if document.type == 'journal_article' %}
      <form class="ui form" action="#" method="POST">
        <input type="hidden" name="type" value="book"/>
        {% include "admin/documents/edit-common.html" %}
        <div class="three column fields">
          <div class="field">
            <label>Issue publication date</label>
            <div class="ui calendar" id="publication-date-calendar">
              <div class="ui left icon input">
                <i class="calendar icon"></i>
                <input type="text" placeholder="March 1, 1968" name="issue_publication_date"
                       value="{{ document.issue_publication_date.strftime("%B %d, %Y") }}">
              </div>
            </div>
          </div>
          <div class="field">
            <label>Issue editor</label>
            <input type="text" name="issue_editor" placeholder="Edward Nash Yourdon"
                   value="{{ document.issue_editor }}">
          </div>
          <div class="field">
            <label>Journal</label>
            <input type="text" name="journal" placeholder="Communication ACM" value="{{ document.journal }}">
          </div>
        </div>
        <button type="submit" class="ui fluid blue button">
          <i class="paper plane icon"></i>
          Submit
        </button>
      </form>
    {% endif %}
  </div>


  <script>
      $('#new-form .menu .item').tab({context: $('#new-form')});
      $('.ui.checkbox').checkbox();
      $('.ui.calendar').calendar({type: 'date'});
  </script>

{% endblock %}