<div class="field">
  <label>Title</label>
  <input type="text" name="title" placeholder="Introduction to Algorithms"/>
</div>
<div class="fields">
  <div class="four wide field">
    <label>Price</label>
    <div class="ui right labeled input">
      <input type="number" name="price" placeholder="100"/>
      <div class="ui basic label">
        ₽
      </div>
    </div>
  </div>
  <div class="four wide field">
    <label>Initial copies</label>
    <input type="number" name="copies" placeholder="1" value="1">
  </div>
  <div class="eight wide field">
    <label>Keywords (comma separated)</label>
    <input type="text" name="keywords" placeholder="action, fantasy"/>
  </div>
</div>
<div class="field">
  <label>Authors (comma separated)</label>
  <input type="text" name="authors"
         placeholder="Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest, Clifford Stein"/>
</div>