<div class="hex-loan card">
  {% if loan.status == Loan.Status.requested %}
    <div class="content">
      <div class="right floated meta">
        {% with size = 'big' %}
          {% include "components/loan-card/type-icon.html" %}
        {% endwith %}
      </div>
      <a class="header" href="/admin/loans/{{ loan.id }}">
        {{ loan.document.title }}
      </a>
      <div class="meta">
        By {{ ', '.join(loan.document.authors) }}
      </div>
      <div class="description">
        Awaiting approval
      </div>
    </div>
  {% elif loan.status == Loan.Status.approved %}
    <div class="content">
      <a class="header" href="/admin/loans/{{ loan.id }}">
        {{ loan.document.title }}
      </a>
      <div class="meta">
        By {{ ', '.join(loan.document.authors) }}
      </div>
      <div class="description">
        <strong>Due date: </strong> {{ loan.due_date.strftime("%B %d, %Y") }}
      </div>
    </div>
    {% if loan.overdue() %}
      <div class="red center aligned extra content">
        <i class="exclamation circle icon"></i>
        overdue (fine {{ loan.get_overdue_fine() }}₽)
      </div>
    {% endif %}
    <a href="/user/borrowed/{{ loan.id }}/renew" class="ui basic green attached button">
      <i class="sync alternate icon"></i>
      Renew
    </a>
    <a href="/user/borrowed/{{ loan.id }}/return" class="ui bottom attached button">
      <i class="undo icon"></i>
      Request return approval
    </a>
  {% elif loan.status == Loan.Status.returned %}
    <div class="content">
      <div class="right floated meta">
        {% with size = 'big' %}
          {% include "components/loan-card/type-icon.html" %}
        {% endwith %}
      </div>
      <a class="header" href="/admin/loans/{{ loan.id }}">
        {{ loan.document.title }}
      </a>
      <div class="description">
        <strong>Due date: </strong> {{ loan.due_date.strftime("%B %d, %Y") }}
      </div>
    </div>
    {% if loan.overdue() %}
      <div class="red center aligned extra content">
        <i class="exclamation circle icon"></i>
        overdue (fine {{ loan.get_overdue_fine() }}₽)
      </div>
    {% endif %}
  {% endif %}
</div>