<div class="hex-document card">
  <div class="content">
    <div class="right floated cleared meta">
      {% with size='big' %}
        {% include "components/document-card/doctype-icon.html" %}
      {% endwith %}
    </div>
    <a class="header" href="/admin/documents/{{ document.id }}">
      {{ document.title }}
    </a>
    <div class="meta">
      By {{ document.authors | join(', ') }}
      {% if document.type == 'book' %}
        , {{ document.edition | ordinal }} edition
      {% endif %}
    </div>
    <div class="description">
      {% if document.type == 'book' %}
        <strong>Published by:</strong> {{ document.publisher }}<br>
      {% endif %}
      {% if document.type == 'journal_article' %}
        <strong>Published in:</strong> {{ document.issue_publication_date.strftime('%B %Y') }}.<br>
        <strong>Journal: </strong> {{ document.journal }}.<br>
        <strong>Issue editor: </strong> {{ document.issue_editor }}.<br><br>
      {% endif %}
      <strong>Keywords:</strong> {{ document.keywords | join(', ') }}<br>
      {% if document.type == 'book' %}
        {% if document.bestseller %}
          <strong>Bestseller</strong>
        {% endif %}
      {% endif %}
    </div>
  </div>
  <div class="extra content">
    <div class="right floated">
      <a href="/admin/documents/{{ document.id }}#copies">
        {{ document.available_copies | length }} copies left
      </a>
    </div>
    {{ document.price }}₽
  </div>
  <div class="ui two bottom attached buttons">
    <a href="/admin/documents/{{ document.id }}/edit" class="ui basic blue button">
      <i class="edit icon"></i>
      Edit
    </a>
    <a href="/admin/documents/{{ document.id }}/delete" class="ui basic red button">
      <i class="trash icon"></i>
      Delete
    </a>
  </div>
</div>