{% extends "admin/layout.html" %}

{% block admin_body %}
  <div class="ui cards">
    {% for loan in loans %}
      <div class="card">
        <div class="content">
          <a class="header" href="/admin/loans/{{ loan.id }}">
            {{ loan.document.title }}
          </a>
          <div class="meta">
            Requested by <a href="/admin/users/{{ loan.user.id }}">{{ loan.user.name }}</a>
          </div>
          <div class="description">
            <strong>Available free copies left (if
              taken): </strong>{{ loan.document.get_available_copies() | length }}
          </div>
        </div>
        <div class="ui two bottom attached buttons">
          <a class="ui basic green button" href="/admin/loans/{{ loan.id }}/confirm">
            <i class="check icon"></i>
            Confirm
          </a>
          <a class="ui basic red button" href="/admin/loans/{{ loan.id }}/refuse">
            <i class="times icon"></i>
            Refuse
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
  {% if loans | length == 0 %}
    <div class="ui centered center aligned grid">
      <div class="eight wide center aligned column">
        <br><br>
        <i class="massive exclamation triangle icon"></i>
        <h3>No more requests left</h3>
        <p>Ideal time to drink come coffee</p>
      </div>
    </div>
  {% endif %}
{% endblock %}