<div class="ui centered center aligned grid">
  <div class="eight wide center aligned column">
    <br><br>
    <h1 class="ui icon header">
      <i class="massive exclamation triangle icon"></i>
      <div class="content">
        {% if 'search' in request.args %}
          {% if type %}
            No {{ type }}s match the query
          {% else %}
            No items match the query
          {% endif %}
          <div class="sub header">Try jiggling the search a little bit (search suggestions TBD)</div>
        {% else %}
          {% if type %}
            No {{ type }}s left
          {% else %}
            No items left
          {% endif %}
          <div class="sub header">Apparently your library is having a bad time</div>
        {% endif %}
      </div>
    </h1>
  </div>
</div>